<%= render "topbar" %>
<%= render 'form_errors.html.erb', object: @candidate  %>
<div class= candidate-div>
<h2>See what's humanly possible.</h2>
<h3>Register with us today.</h3>
<%= simple_form_for @candidate, url: candidates_path do |form| %>
  <%= form.input :first_name, label: 'Name', placeholder: 'First Name', error: false %>
  <%= form.input :last_name, label: false, placeholder: 'Last Name', error: false %>
  <%= form.input :email, error: false %>
  <%= form.input :phone, error: false %>
  <%= form.input :date_available, as: :date, html5: true %>
  <%= form.input :education do %>
    <%= form.select :education, education_types_for_select %>
  <% end %>
  <%= form.input :languages, label: 'Main spoken language' do %>
    <%= form.select :languages, languages_for_select%>
  <% end %>
  <%= form.input :work_type, label: 'Preferred Type of Work' do %>
    <%= form.select :work_type, work_types_for_select %>
  <% end %>
  <%= form.input :shifts, label: 'Preferred Shift' do %>
    <%= form.select :shifts, shifts_for_select %>
  <% end %>
  <%= form.association :categories, as: :check_boxes, label: "Work I'm Interested In:"%>
  <%= form.association :specialties, as: :check_boxes, label: "Specialties:" %>

  <%= form.input :eligible, as: :boolean, value: '1', label: 'I am 18 years old or older and eligible to work in the United States.'%>
  <%= form.button :submit, 'Register' %>
<% end %>
</div>
