<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "jquery.multiselect." + I18n.locale.to_s %>
  <%= javascript_include_tag "jquery.multiselect.filter." + I18n.locale.to_s %>
</head>
<body class="<%= body_class %>">
  <div class="content">
    <main>
      <%= render 'flashes' -%>
      <%= yield %>
    </main>
  </div>
  <%= render 'javascript' -%>
</body>
</html>
